@{
    ViewData["Title"] = "Home Page";
}



<a href="/DPAPIDebugger">Open the DAPI Debugger</a>


<br />
<br />
<br />
<br />
<a href="https://nestenius.se">Visit my blog</a> and company at <a href="https://www.tn-data.se">TN Datakonsult AB</a>.
