
<ul class="navbar-nav">
    @if (User?.Identity?.IsAuthenticated ?? false)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/User/Info" title="Manage">Hello @(User?.Identity?.Name ?? "Unknown")</a>
    </li>  
    <li class="nav-item">
            <a href="/Session" class="nav-link btn btn-link text-dark">Sessions</a>
    </li>
    <li class="nav-item">
        <form asp-controller="User" asp-action="Logout" class="form-inline">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>  
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a href="/user/Login" class="nav-link btn btn-link text-dark">Login</a>
    </li>
}
</ul>
